#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  justify-content: space-between;
}

.order-items {
  width: 45%;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 225px;
}

.item-name {
  width: 100px;
}

.deleteBtn {
  border: none;
  border-radius: 5px;
  background-color: indianred;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}


