.positionBtn {
  border: 1px solid #E5E7E9;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 270px;
  margin-bottom: 10px;
}

.positionBtn:hover {
  background-color: #F2F4F4;
  border-radius: 10px;
}
.positionImg {
  width: 70px;
  height: 70px;
  padding: 6px;
}

.position-item {
  width: 155px;
  text-align: right;
}

.position-name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}